.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 2px solid lightgray;
  display: flex;
  gap: 20px;
  color: black;
  margin-bottom: 4px;
}

.nav-link {
  
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  color: red;
  text-decoration: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}