.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.modal {
  margin-left: auto;
  margin-right: auto;
  background-color: "lightgrey";
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  overflow: auto;
  z-index: 1;
  opacity: 1;
}

.img {
  width: 100%;
  height: 100%;
  border: none;
}
